@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
}
.history, .pilo {
    border: 3px solid rgb(187, 19, 19);
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(184, 118, 118, 0.705);
    overflow: scroll;
    scrollbar-width:none;
    width: 90%;
    max-width: 500px;
    gap: 20px;
}

.history h1 {
    text-align: center;
}

.history p{
    font-size: 18px;
    margin: 10px;
    justify-content: center;
    text-align: justify;
    text-indent: 50px;
}

.pilo h1 {
    text-align: center;
}

.pilo p{
    font-size: 18px;
    margin: 10px;
    justify-content: center;
    text-align: justify;
    text-indent: 50px;
}

.container {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #000000;
    background: #acacac;
    gap: 20px;
    padding: 30px;
}

.school {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: #fff;
    background: #292828;
    gap: 20px;
    padding: 30px;
}

.school h1 {
    text-align: center;
}

.mission, .vision, .hym {
    width: 90%;
    max-width: 400px;
    text-align: center;
    gap: 20px;
    border: 3px solid rgb(187, 19, 19);
    backdrop-filter: blur(50px);
    border-radius: 5px;
    background-color: rgba(121, 25, 25, 0.452);
}

.mission p{
    margin: 10px;
    justify-content: center;
    text-align: justify;
    text-indent: 50px;
}

.vision p{
    margin: 10px;
    justify-content: center;
    text-align: justify;
    text-indent: 50px;
}

.hym p{
    margin: 10px;
    justify-content: center;
}
