* {
    box-sizing: border-box;
}


section {
    min-height: 100vh;
    background-color: navy;
}

.C {
    text-align: right;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
}

#myVideo {
    margin: 20px 0 0 50px
    width: 50%; 
    height: 50%;
    border: 1.5px solid #800;
}
