.sigi .containersss {
    display: flex;
    flex-direction: column;
    text-align: left; /* Aligns text within the section */
    padding: 20px; /* Adds padding around the content */
    background-color: #ffffff; 
    gap: 20px;
}

.containerss p:nth-child(2) {
    font-size: 18px;
    text-align: justify;
    text-indent: 40px;
}
.containersss h1 {
    font-size: 24px;
    text-align: center;
}

.containerss {
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 80%;
    margin: 0 auto;
    gap: 10px;
    padding: 20px;
    border: 1px solid #000000;
    background: linear-gradient(180deg, #ffffff, #f7f7f7, #d4d4d4, #a0a0a0);
    text-align: center;
    max-width: 500px;
}
